body{
    background-color:#e67e22;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 98vh;


    

}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: grey;
}